<!DOCTYPE HTML PUBLIC "‐//W3C//DTD HTML 4.01//EN">
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv='content-Language' content='pt-br' />
        <title>EventeX</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/styles.css" />
    </head>
	<body>
	<img src="{{ MEDIA_URL }}img/logo.png" />
	<b>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  </b>
	<h1>Bem-vindo ao EventeX!</h1>
	<p>
		O evento mais sensacional do ano depois do Dev in Rio!
	</p>
	<p>
		Você não pode perder esta oportunidade!
	</p>
	<p>
	    <strong>Abertura das incrições em  12/02/2011.</strong>
	    
	</p>
	<p>
	    Para dúvidas e mais informações entre em contato com <a href="mailto:alexandremagalhaes88@gmail.com"> alexandremagalhaes88@gmail.com </a>
	</p>
	<b>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  </b>

	<p>
		&copy; 2011. <a href="#"> EventeX</a>, some rights reserved <img src="/media/img/easydjango.gif" style="padding-left: 385px;"/>
	</p>
    </body>
</html>